* {
    color: black;
}

p {
    margin: 0;
    margin-bottom: 8px;
    line-height: 1.6;
    /* font-size: 18px; */
    font-size: 1.8rem;
}

.blog {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        ". main sidebar"
        "footer footer footer";
}

.blog__header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "logo title .";

    padding: 25px;
    margin-bottom: 25px;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Futura Thin';
}

.blog__header__logo {
    grid-area: logo;
    font-size: 1.6rem;
}

.blog__header__head {
    grid-area: title;
    justify-self: center;
    font-size: 2.4rem;
}

.blog__posts {
    grid-area: main;
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog__post {
    margin-bottom: 50px;
}

.blog__post__readmore {
    background-color: hsl(0, 0%, 88%);
    padding: 2px 4px;
    margin-left: 2px;
}

.post {
    grid-area: main;
}

.post blockquote {
    border-left: 10px solid hsl(0, 0%, 88%);
}

.post blockquote p {
    background-color: hsl(0, 0%, 95%);
    padding: 20px 30px;
}

.post__title {
    margin-bottom: 8px;
    text-transform: none;
    font-size: 2.2em;
    /* border-bottom: 4px solid hsl(12, 51%, 31%); */
}

.blog__posts .post__title:hover:before {
    content: "";
    border-left: 12px solid hsl(12, 51%, 31%);
    padding-right: 12px;
    margin-left: -24px;
}

.post__data {
    margin: 0;
    margin-bottom: 8px;
}

.post__dateline, .post__byline {
    font-family: 'Futura Std Book';
    color: hsla(0,0%,45%);
    font-size: 1.6rem;
}