* {
    font-family: 'Roboto';
}

a {
    color: #45b1cb
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.65rem;
}
 
h4 {
    font-size: 1.4rem;
}

.next-arrow {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.5rem;
}

.next-arrow .fa-arrow-circle-down, .next-arrow:hover .fa-arrow-down {
	display: none;
}

.next-arrow:hover .fa-arrow-circle-down {
	display: block;
	font-size: 3.5rem;
}


#about {
    /*background: url('../img/unsplash-004-resized.png') no-repeat center;*/
    background: url('../img/Optimized-unsplash-004-resized.png') no-repeat center;
	background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    /*text-transform: uppercase;*/
    letter-spacing: 3px;
    text-align: center;
    color: white;
}

#about .mask {
	background-color: rgba(0,0,0,0.25);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#about h1 {
    font-size: 4rem;
}

#about h2 {
    font-weight: 300;
}

#about h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

.about-container {
    width: 100%;
    position: relative;
}

.details {
    padding: 20px;
    border-bottom: 2px solid black;
    text-align: center;
}

.details-inner {
    display: inline-block;
    max-width: 500px;
}

.details h1, .details h2, .details h3, .details h4, .details p {
    color: black;
    text-align: left;
}

.details h1 {
    font-size: 3rem;
    /*margin-bottom: 35px;*/
    text-align: center;
}

.details h4 {
    color: #3973ac;
}

.details ul {
    color: black;
}

.experience, .project {
    margin-top: 20px;
}

.tech-used {
    color: steelblue;
    color: #3973ac;
}

@media (min-width: 768px) {
    #about h1 {
        font-size: 10rem;
    }

    .details {
        padding: 45px 20px;
    }
}

@media (min-width: 992px) {
    .details-inner {
        max-width: 750px;
    }
}

@media (max-width: 992px) {

}

@media (min-width: 1200px) {
    #about h1 {
        font-size: 12rem;
    }
}