* {
    font-family: 'Roboto';
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.65rem;
}
 
h4 {
    font-size: 1.4rem;
}

/*p {
    font-family: 'PT Sans';
}*/

.nav {
    text-align: center;
    padding: 15px;
    position: fixed;
    z-index: 1337;
    background-color: rgba(25,25,25,0.5);
    width: 100%;
}

.nav.active {
    background-color: rgba(25,25,25,1);
}

.nav-menu, .nav-menu a {
    display: inline-block;
    cursor: pointer;
    padding: 5px;

    text-transform: uppercase;
    color: #e9ece5;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1.5rem;
}

.nav-menu:hover, .nav-menu a:hover {
    color: #adadad;
}

.nav-menu.active, .nav-menu.active a {
    font-weight: 700;
    color: white;
}

#nav-social-media {
    width: 100%;
}
/*
#nav-social-media a:not(:first-child) {
	margin-left: 5px;
}*/

.next-arrow {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.5rem;
}

.next-arrow .fa-arrow-circle-down, .next-arrow:hover .fa-arrow-down {
	display: none;
}

.next-arrow:hover .fa-arrow-circle-down {
	display: block;
	font-size: 3.5rem;
}

.main > .row {
    height: 100%;
    background-color: #20201e;
    color: white;
    padding: 50px 20px;
}

#about {
    background: url('../img/unsplash-004-resized.png') no-repeat center;
	background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    /*text-transform: uppercase;*/
    letter-spacing: 3px;
    text-align: center;
}

#about .mask {
	background-color: rgba(0,0,0,0.25);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#about h1 {
    font-size: 4rem;
}

#about h2 {
    font-weight: 300;
}

#about h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

.about-container {
    width: 100%;
    position: relative;
}

#projects {
    position: relative;
    padding-bottom: 100px;
    text-align: center;
}

.projects-container {
    max-width: 1000px;
    display: inline-block;
    text-align: left;
}

.project-inner {
    border: 1px solid white;
    padding: 25px;
    margin-top: 25px;
}

.project h2 {
    position: relative;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.project p {
    position: relative;
    font-size: 1.5rem;
    word-break: break-word;
}

.project-mask {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    left: 0;
}

#project-label {
	background: url('../img/Label_interface_01.png') no-repeat center;
	background-size: cover;
}

#project-nanograv {
	background: url('../img/NG_interface.png') no-repeat center;
}

#project-bugsplat {
	background: url('../img/bugSplat_interface.png') no-repeat center;
	background-size: cover;
}

#experiences {
	background: url('../img/unsplash-001.jpeg') no-repeat center;
	position: relative;
}

#experiences .title {
	margin-bottom: 30px;
}

.experience {
	text-align: left;
}

.experience .mask {
	background-color: rgba(0, 0, 0, 0.65);
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px;
	margin-bottom: 15px;
}

.experience h4 {
    text-transform: none;
}

.experience p {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    #about h1 {
        font-size: 10rem;
    }

    .project-inner {
        padding: 25px 30px;
    }

    .experience .mask {
        padding: 20px 30px;
    }

}

@media (min-width: 992px) {
    .experience .mask {
        padding: 45px 75px;
    }
}