{% extends "layout.html" %}

{% block container %}
<div class="screen-mask"></div>
<div class="row" id="about">
  <div class="mask"></div>
  <div class="col-sm-12">
    <div class="about-container">
      <h1>
        <span class="emphasize">Jacky Van</span>
      </h1>
      <h2>
        Computer Science Specialist
      </h2>
      <h3>
        University of Toronto
      </h3>
      <!--<h3>
        Liquid Assets dragonboat team, 2012 - 2015
        </br><span style="font-size: 18px;">(Co-captain, trainer, paddler)</span>
      </h3>-->
    </div>
  </div>
  <div class="next-arrow" data-next-section="projects">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
  </div>
</div>
<div class="row" id="projects">
  <h1 class="title">Projects</h1>
  <div class="project-container">
    <div class="project col-md-4">
      <div id="project-label" class="project-inner col-sm-12">
        <div class="project-mask"></div>
        <h2>Label</h2>
        <p>
          A Google Chrome extension to save all tabs in current window for later.
        </p>
        <div class="project-mask-overlay">
          <h3>Label</h3>
          <p>Extension can be found here: </p>
          <p>GitHub repo: </p>
        </div>
      </div>
    </div>
    <div class="project col-md-4">
      <div id="project-nanograv" class="project-inner col-sm-12">
        <!--<div class="project-mask"></div>-->
        <h2>NANOGrav Data Interface</h2>
        <p>
          An interface to filter, visualize and export the NANOGrav datasets.
        </p>
        <div class="project-mask-overlay">
          <h3>NANOGrav Data Interface</h3>
          <p>Graphical functionality built using D3.js</p>
          <p>Website: </p>
        </div>
      </div>
    </div>
    <div class="project col-md-4">
      <div class="project-inner col-sm-12">
        <div class="project-mask"></div>
        <h2>Visualyze</h2>
        <p>
          An fitness tracking web app allowing users to chart & graph their progress individually and as a group.
        </p>
        <div class="project-mask-overlay">
          <h3>Visualyze</h3>
          <p>Website: </p>
          <p>GitHub repo: </p>
        </div>
      </div>
    </div>
    <div class="project col-md-4">
      <div class="project-inner col-sm-12">
        <div class="project-mask"></div>
        <h2>Bug Splat</h2>
        <p>
          A HTML Canvas game. Prevent the bugs from reaching the pies within the time limit.
        </p>
        <div class="project-mask-overlay">
          <h3>BugSplat</h3>
          <p>Graphics drawn using HTML canvas</p>
          <p><a href="/bugSplat">Link to Game</a></p>
          <p>GitHub repo: </p>
        </div>
      </div>
    </div>
  </div>
  <div class="next-arrow" data-next-section="experiences">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
  </div>
</div>
<div class="row" id="experiences">
  <div class=""></div>
  <h1 class="title">Experiences</h1>
  <div class="col-sm-offset-2 col-sm-8 experience">
    <div class="mask">
      <div class="role-date">
        <h2>Web Developer & IT Support Assistant</h2>
        <h4>Sept 2015 - Present</h4>
      </div>
      <h4>E.J. Pratt Library</h4>
      <p>
        Maintaining and updating the library's e-resources
      </p>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-8 experience">
    <div class="mask">
      <div class="role-date">
        <h2>Web Developer</h2>
        <h4>May 2016 - Aug 2016</h4>
      </div>
      <h4>McGill Space Institute</h4>
      <p>
        Worked on the NANOGrav web interface for accessing their database. Used D3.js to create and manipulate graphs and exporting.
      </p>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-8 experience">
    <div class="mask">
      <div class="role-date">
        <h2>Software Developer</h2>
        <h4>Dec 2014 - Aug 2015</h4>
      </div>
      <h4>Three Point Turn</h4>
      <p>
        Maintaining and updating the library's e-resources
      </p>
    </div>
  </div>
</div>
{% endblock container %}
