{% extends "layout.html" %}

{% block container %}
<div class="row" id="about">
  <div class="col-sm-12">
    <h1>
      <span class="emphasize">Jacky Van</span>
    </h1>
    <h2>
      Computer Science Specialist at the University of Toronto.
    </h2>
    <h3>
      Aspiring software developer.
    </h3>
    <h3>
      Co-Captain of Liquid Assets dragonboat team 2014 - 2015.
    </h3>
  </div>
</div>
<div class="row" id="projects">
  <h1 class="title">Projects</h1>
  <div class="project">
    <h2>Project title</h2>
    <p>
      project description
    </p>
  </div>
</div>
{% endblock container %}
