{% extends "layout.html" %}

{% block container %}
<div class="row" id="about">
  <div class="col-sm-12">
    <h1>
      <span class="emphasize">Jacky Van</span>
    </h1>
    <h2>
      Computer Science Specialist at the University of Toronto.
    </h2>
    <h3>
      Aspiring software developer.
    </h3>
    <h3>
      Co-Captain of Liquid Assets dragonboat team 2014 - 2015.
    </h3>
  </div>
</div>
<div class="row" id="projects">
  <h1 class="title">Projects</h1>
  <div class="project-container">
    <div class="project">
      <h2>Label</h2>
      <p>
        A Google Chrome extension allowing users to label sets of tabs and reopen them later.
      </p>
    </div>
    <div class="project">
      <h2>NANOGrav Data Interface</h2>
      <p>
        An interface to filter, visualize and export the NANOGrav datasets.
      </p>
    </div>
    <div class="project">
      <h2>Visualyze</h2>
      <p>
        An fitness tracking web app allowing users to chart & graph their progress individually and as a group.
      </p>
    </div>
    <div class="project">
      <h2>Bug Splat</h2>
      <p>
        A HTML Canvas game. Prevent the bugs from reaching the pies within the time limit.
      </p>
    </div>
  </div>
</div>
<div class="row" id="experiences">
  <div class=""></div>
  <h1 class="title">Experiences</h1>
  <div class="col-sm-offset-2 col-sm-8 experience">
    <div class="mask">
      <div class="role-date">
        <h2>Web Developer & IT Support Assistant</h2>
        <h4>Sept 2015 - Present</h4>
      </div>
      <h4>E.J. Pratt Library</h4>
      <p>
        Maintaining and updating the library's e-resources
      </p>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-8 experience">
    <div class="mask">
      <div class="role-date">
        <h2>Web Developer</h2>
        <h4>May 2016 - Aug 2016'</h4>
      </div>
      <h4>McGill Space Institute</h4>
      <p>
        Worked on the NANOGrav web interface for accessing their database. Used D3.js to create and manipulate graphs and exporting.
      </p>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-8 experience">
    <div class="mask">
      <div class="role-date">
        <h2>Software Developer</h2>
        <h4>Dec 2014 - Aug 2015</h4>
      </div>
      <h4>Three Point Turn</h4>
      <p>
        Maintaining and updating the library's e-resources
      </p>
    </div>
  </div>
</div>
{% endblock container %}
