/*
	LIGHT GREEN - #c5d5cb
	DARK GREEN - #9fa8a3
	DARKER GREEN - #5f6461
	PALE TAN - #e3e0cf
	WHITE


	V2 
	TEALISH - #c0dfd9
	PALE TAN - #e9ece5
	MILITARY GREEN - #b3c2bf
	DARK - #3b3a36
*/

h1, h2, h3, h4, h5 {
	font-weight: 100;
	margin-top: 10px;
	color: #343536;
	color: #5f6461;

	color: #3b3a36;
}

h1 {
	font-size: 75px;
	font-family: 'Roboto', sans-serif;
}

h1 .emphasize {
	font-weight: 300;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

a {
	color: white;
	color: #c5d5cb;
	color: #e3e0cf;

	color: #e9ece5;
}

.underline {
	border-bottom: 1px solid black;
}

/*.main .row.even, .main .row.odd {
	padding-top: 20px;
	padding-bottom: 20px;
}*/

.navbar {
	margin-bottom: 0;
	background-color: #9fa8a3;

	background-color: #b3c2bf;
	background-color: #3b3a36;
	color: #e9ece5;
}

.navbar-brand {
	font-size: 30px;
	-webkit-transition: color 0.5s, font-size 0.5s;
	-moz-transition: color 0.5s, font-size 0.5s;
	-o-transition: color 0.5s, font-size 0.5s;
	transition: color 0.5s, font-size 0.5s;
}

.navbar-brand:hover, .navbar-brand:focus {
	color: #c0dfd9;
	color: #e9ece5;
	font-size: 35px;
	outline: none;
}

.nav a {
	font-size: 20px;
	font-weight: 100;
	color: #e9ece5;
	padding: 0 5px;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: #c0dfd9;
	color: #3b3a36;
}

.block-title {
	font-family: 'Roboto', sans-serif;
}

.header {
	padding-top: 150px;
	padding-bottom: 100px;
	background-color: #e9ece5;
}

.social-media a, .social-media h3 {
	color: #e9ece5;
	padding: 0 5px;
}

.social-media a:hover {
	text-decoration: none;
	-webkit-animation: swing 5s;
	-moz-animation: swing 5s;
	animation: swing 5s;
}

.sections > .row:nth-child(odd) {
	background-color: #f8f8f8;
	background-color: #e3e0cf;

	background-color: #c0dfd9;
}

.sections > .row:nth-child(even) {
	background-color: #e9ece5;
}

.sections > .row {
	/*back*/
}

.experience .row {
	text-align: center;
}

/*.odd {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}*/

.section-row {
	padding: 25px 0;
}

.clicked > .block-title-container {
	margin-bottom: 20px;
}

.hidden-inner {
	display: none;
}

.clicked {

}

.hidden-inner.clicked {
	display: flex;
}

.project-row {
	/*display: flex;*/
}

.project {
	/*border: 2px solid #f0f0f0;*/
	border: 2px solid #b3c2bf;
	margin: 5px;
	/*box-shadow: 2px 2px 2px #d8d8d8;*/
	box-shadow: 2px 2px 2px #b3c2bf;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.project-header {
	text-align: center;
	transform: translateY(60%);
}

.project-header h3 {
	font-family: 'Roboto', sans-serif;
}

.project-details {
	visibility: hidden;
	transform: translateY(50%);
}

.project:hover {
	background-color: #f0f0f0;
}

.project:hover > .project-header {
	display: none;
}

.project:hover > .project-details {
	visibility: visible;
}

.experience-block {
	padding: 0 15px 15px 15px;
}

.current-experience, .previous-experience {
	text-align: left;
}

#current {
	box-shadow: 2px 2px 5px;
}

.skills-side-block {
	text-align: right;
	border-right: 1px solid black;
}

.skill-high {
	border-bottom: 2px solid #00b200;
}

.skill-medium {
	border-bottom: 2px solid #ffff00;
}

.skill-learning {
	border-bottom: 2px solid #F08080;
}


