<template name="bugSplat">
	<head>
		<script type="text/javascript" src="js/bugSplat.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bugSplat.css">
	</head>
	<div class="game-board">
		<div id="start-menu">
			<div class="row">
				<p>Level:</p>
				<select id="level">
					<option>1</option>
					<option>2</option>
				</select>
			</div>
			<div class="row">
				<p>High score: <span class="high-score">0</span></p>
			</div>
			<div class="row">
				<button id="start" onclick="start()">Start</button>
			</div>
		</div>
		<div id="game">
			<div class="game-info">
				<div class="timer"><span id="timer">60</span> seconds</div>
				<div id="pause-play"><button onclick="GAME.pause()" id="pause">| |</button></div>
				<div class="score">Score: <span id="score">0</span></div>
			</div>

			<div id="level-container">Level: <span id="level-display">1</span></div>

			<div id="game-menu">
				<div class="row">
					<div>High score: <span class="high-score">0</span></div>
				</div>
				<div class="row">
					<button onclick="start()">Restart</button>
					<button onclick="GAME.exit()">Exit</button>
				</div>
			</div>

			<canvas id="game-view" width="400px" height="500px">
			</canvas>
		</div>
	</div>
</template>