<template name="experience">
	<h2 class="block-title-container">
		<span class="block-title-indicator">+</span>&nbsp;<span class="block-title">Experience</span>
	</h2>
	<div class="row hidden-inner animated">
		<div class="col-sm-12">
				<div class="col-sm-4" id="current">
					<div class="experience-block">
						<h5 class="current-experience">Current</h5>
						<h3>Web Developer<br>&<br>IT Support Assistant</h3>
						<h4>E.J. Pratt Library, University of Toronto</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="experience-block">
						<h5>&nbsp;</h5>
						<h3>Software Developer</h3>
						<h4>Three Point Turn, Toronto</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="experience-block">
						<h5>&nbsp;</h5>
						<h3>Barista</h3>
						<h4>Starbucks, Toronto</h4>
					</div>
				</div>
		</div>
	</div>
</template>