<template name="header">
	<div class="row header">

			<div class="col-sm-offset-2 col-sm-8">
				<h1>
					<span class="emphasize">Jacky Van</span>.
				</h1>
				<h2>
					Computer Science Specialist at the University of Toronto.
				</h2>
				<h3>
					Aspiring software developer.
					<br>
					Co-Captain of Liquid Assets dragonboat team 2014 - 2015.
				</h3>
			</div>

<!-- 		<div class="row social-media">
			<div class="col-sm-offset-2 col-sm-2"><h3>Connect with me on:</h3></div>
			<div class="col-sm-1"><h3><a class="animated infinite" href="https://ca.linkedin.com/in/jackyvan">LinkedIn</a></h3></div>
			<div class="col-sm-1"><h3><a class="animated infinite" href="https://twitter.com/JaackyVee">Twitter</a></h3></div>
			<div class="col-sm-1"><h3><a class="animated infinite" href="https://github.com/Jaacky">Github</a></h3></div>
		</div> -->
	</div>
</template>

