 <head>
    <title>Jacky Van</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
</head>

<template name="layout">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">J</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Skills</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right social-media">
                    <li>
                        <h3>Connect with me on:</h3>
                    </li>
                    <li>
                       <h3><a class="animated infinite" href="https://ca.linkedin.com/in/jackyvan">LinkedIn</a></h3> 
                    </li>
                    <li>
                        <h3><a class="animated infinite" href="https://twitter.com/JaackyVee">Twitter</a></h3>
                    </li>
                    <li>
                        <h3><a class="animated infinite" href="https://github.com/Jaacky">Github</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid main">
        {{> yield }}
        {{> yield "sections" }}
    </div>

</template>