<template name="project-modals">
	<div class="modal fade" id="TabIt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">Tab It</h2>
	        <h4 class="modal-title-description">Google Chrome extension</h4>
	      </div>
	      <div class="modal-body">
	        <div class="project-details">
				<p>Tab management extension that allow users to save all their open tabs in the current window for reopening at a later time.</p>
			</div>
	      </div>
	      <div class="modal-footer">
	      	<button class="btn btn-default github"><a href="https://github.com/Jaacky/TabIt">GitHub</a></button>
	        <button type="button" class="btn btn-default btn-modal-close" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="UofTCourseScheduler" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">U of T Course Scheduler</h2>
	        <h4 class="modal-title-description">Node.js & Express web application</h4>
	      </div>
	      <div class="modal-body">
	        <div class="project-details">
				<p>Displays all permutations of any University of Toronto student's courses. Includes optional filters like evening classes preferred and least number of conflicts.</p>
			</div>
	      </div>
	      <div class="modal-footer">
		    <button class="btn btn-default github"><a href="https://github.com/uoft-course-scheduler/course-scheduler-app">GitHub</a></button>
	        <button type="button" class="btn btn-default btn-modal-close" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</template>