<template name="projects">
	<h2 class="block-title-container">
		<span class="block-title-indicator">+</span>&nbsp;<span class="block-title">Projects</span>
	</h2>
	<div class="row hidden-inner animated project-row">
		<div class="col-sm-4 project" id="TabIt">
			<div class="project-header">
				<h3>TabIt</h3>
			</div>
			<div class="project-subheader">
				<h4>Google Chrome extension</h4>
			</div>
		</div>

		<div class="col-sm-4 project" id="UofTCourseScheduler">
			<div class="project-header">
				<h3>U of T Course Scheduler</h3>
			</div>
			<div class="project-subheader">
				<h4>Node.js & Express web application</h4>
			</div>
			
		</div>

		<div style="display: none;" class="col-sm-4 project">
			<div class="project-header">
				<h3>Grovis</h3>
			</div>
			<div class="project-subheader">
				<p>Meteor application</p>
			</div>
			<div style="display: none;" class="project-details">
				<p>Multi-use graph/visual tracking application. Able to Gro (combine) your current Vis (graph) with other people to compare and share stats.</p>
			</div>
		</div>
	</div>
</template>