<template name="projects">
	<h2 class="block-title-container">
		<span class="block-title-indicator">+</span>&nbsp;<span class="block-title">Projects</span>
	</h2>
	<div class="row hidden-inner animated project-row">
		<div class="col-sm-4 project">
			<div class="project-header">
				<h3>TabIt</h3>
				<h4>Google Chrome extension</h4>
			</div>
			<div class="project-details">
				<p>Tab management extension that allow users to save all their open tabs in the current window for reopening at a later time.</p>
			</div>
		</div>
		<div class="col-sm-4 project">
			<div class="project-header">
				<h3>Grovis</h3>
				<h4>Meteor application</h4>
			</div>
			<div class="project-details">
				<p>Multi-use graph/visual tracking application. Able to Gro (combine) your current Vis (graph) with other people to compare and share stats.</p>
			</div>
		</div>
		<div class="col-sm-4 project">
			<div class="project-header">
				<h3>Battle</h3>
				<h4>C command line game</h4>
			</div>
		</div>
	</div>
</template>