<template name="sections">
		<div class="row sections">
			<div class="col-sm-12 sections">
				<div class="row section-row even">
					{{> yield "project-modals"}}
					<div class="col-sm-offset-2 col-sm-8 contain-hidden">
						{{> yield "projects" }}
					</div>
				</div>

				<div class="row section-row odd">
					<div class="col-sm-offset-2 col-sm-8 contain-hidden experience">
						{{> yield "experience" }}
					</div>
				</div>

				<div class="row section-row even">
					<div class="col-sm-12 contain-hidden">
						{{> yield "skills-and-technologies" }}
					</div>
				</div>
			</div>
		</div> <!-- END row sections -->
</template>