<template name="skills-and-technologies">
	<h2 class="col-sm-offset-2 block-title-container">
		<span class="block-title-indicator">+</span>&nbsp;<span class="block-title">Skills & Technologies</span>
	</h2>
	<div class="row hidden-inner animated">
		<div class="col-sm-2 skills-side-block">
				<div class="row">
					<div class="col-sm-12">
						<h4><span>Proficiency</span></h4>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p><span class="skill-high">High</span></p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p><span class="skill-medium">Medium</span></p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p><span class="skill-learning">Learning</span></p>
					</div>
				</div>
		</div>
		<div class="col-sm-10">
			<div class="col-xs-12">&nbsp;</div>
			<div class="row">
				<div class="col-xs-2"><span class="skill-high">Meteor.js</span></div>
				<div class="col-xs-2"><span class="skill-high">Express</span></div>
				<div class="col-xs-2"><span class="skill-high">C</span></div>
				<div class="col-xs-2"><span class="skill-high">Node.js</span></div>
				<div class="col-xs-2"><span class="skill-high">JavaScript</span></div>
				<div class="col-xs-2"><span class="skill-high">Java</span></div>
				
			</div>
			<div class="col-xs-12">&nbsp;</div>
			<div class="row">
				<div class="col-xs-2"><span class="skill-high">PHP</span></div>
				<div class="col-xs-2"><span class="skill-high">jQuery</span></div>
				<div class="col-xs-2"><span class="skill-high">Git</span></div>
				<div class="col-xs-2"><span class="skill-high">CSS</span></div>
				<div class="col-xs-2"><span class="skill-high">HTML</span></div>
				<div class="col-xs-2"><span class="skill-high">SQL</span></div>
			</div>
			<div class="col-xs-12">&nbsp;</div>
			<div class="row">
				<div class="col-xs-2"><span class="skill-medium">Python</span></div>
				<div class="col-xs-2"><span class="skill-medium">Magento</span></div>
				<div class="col-xs-2"><span class="skill-medium">Cordova</span></div>
				<div class="col-xs-2"><span class="skill-learning">Socket.io</span></div>
				<div class="col-xs-2"><span class="skill-learning">Raspberry Pi 2</span></div>
				<div class="col-xs-2"><span class="skill-learning">Django</span></div>
			</div>
		</div>
	</div>
</template>