<nav class="nav">
    <div id="nav-mobile-menu">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    </div>
    <div class="nav-menu-wrapper">
    <div class="nav-menu nav-navigate-within active" data-nav-to="landing">
        Jacky
    </div>
    <div class="nav-menu nav-navigate-within" data-nav-to="experiences">
        Experiences
    </div>
    <div class="nav-menu nav-navigate-within" data-nav-to="projects">
        Projects
    </div>
    <div class="nav-menu nav-navigate-within" data-nav-to="education">
        Education
    </div>
    <div class="nav-menu">
        <a href="/blog.html">Blog</a>
    </div>
    <!-- <div class="nav-menu" id="nav-resume">
        <a href="jacky_van_resume.pdf">Resume</a>
    </div> -->
    <div class="nav-menu" id="nav-social-media">
        <a href="https://ca.linkedin.com/in/jackyvan" target="_blank">
        <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
        </a>
        <a href="https://www.github.com/Jaacky" target="_blank">
        <i class="fa fa-github-alt fa-lg" aria-hidden="true"></i>
        </a>
    </div>
    </div>
</nav>