<div class="row" id="landing"> <!-- landing -->
    <div class="mask"></div>
    <div class="landing-container">
        <h1>
            <span class="emphasize">Jacky Van</span>
        </h1>
        <h2>
            Computer Science Specialist
        </h2>
        <h3>
            University of Toronto
        </h3>
    </div>
    <div class="next-arrow" data-next-section="projects">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
    </div>
</div> <!-- END landing -->