<div class="row" id="landing"> <!-- landing -->
    <div class="mask"></div>
    <div class="landing-container">
        <div class="accent">&nbsp;</div>
        <h1>
            J<span class="de-emphasize">acky</span> V<span class="de-emphasize">an</span>
        </h1>
        <h2>
            Software Developer
        </h2>
        <div class="accent">&nbsp;</div>
    </div>
    <div class="next-arrow" data-next-section="projects">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
    </div>
    <div class="image-credits">
        Photo by
        <a target="_blank" rel="noopener noreferrer" href="https://unsplash.com/@eberhardgross?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" >eberhard grossgasteiger</a>
        on
        <a target="_blank" rel="noopener noreferrer" href="https://unsplash.com/?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge">Unsplash</a>
        
    </div>
</div> <!-- END landing -->