<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% include analytics.html %}

    <!-- <link rel="stylesheet" href="{{ 'css/lib/normalize-8.0.1.css' | absolute_url }}"> -->
    <link rel="stylesheet" href="{{ 'css/common.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ 'css/blog.css' | absolute_url }}">
</head>
    <body>
        <div class="blog">
            <nav class="blog__header">
                <div class="blog__header__logo">
                    <a href="/">Jacky</a>
                </div>
                <img class="blog__header__head shower_thoughts_text_logo" src="{{ '/img/Rounded_Shower_Thoughts_Lowercase_v0.0.3.svg' | absolute_url }}"/>
            </nav>
            {{ content }}
        </div>
    </body>
</html>